/* Estilos de la landing page */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --azul: #1A365D;
    --celeste: #74ACDF;
    --gris: #F8F9FA;
    --blanco: #FFFFFF;
    --oro: #D4AF37;

    --fuente-general: 'Inter', serif;
    --fuente-titulos:'Lora', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 55px; 
  scroll-behavior: smooth; 
}

body {
  font-family: var(--fuente-general);
  background-color: var(--gris);
}

h1, h2, h3 {
  font-family: var(--fuente-titulos);
}

/*Estilos para la barra de navegación*/
header {
  background-color: var(--gris);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px black;
}
/* dimensiones del logo: 1966 x 683 */
.logo {
  margin-top: 4px;
  width: 147.45px;
  height: 50.85px;
}

.nav-links > ul {
  display: flex;
  gap: 20px;
  list-style: none;  
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--azul);
}

/* Botón de hamburguesa -oculto en computadoras- */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.menu-toggle span {
    width: 100%;
    height: 3px;
    background-color: #333; /* Color de las rayitas */
    border-radius: 2px;
}

/* Menú responsive */
@media (max-width: 768px) {
    /* Mostramos la hamburguesa */
    .menu-toggle {
        display: flex;
    }

    /* Transformamos el menú en un panel desplegable */
    .nav-links {
        display: none; /* Escondido por defecto */
        position: absolute;
        top: 100%; /* Aparece justo abajo del header */
        left: 0;
        width: 100%;
        background-color: var(--gris);
        box-shadow: 0 1px 3px black;
    }

    /* Cuando JavaScript le ponga la clase 'active', se va a mostrar */
    .nav-links.active {
        display: block;
    }

    .nav-links ul {
        flex-direction: column; /* Lista vertical */
        padding: 20px;
        gap: 15px;
    }
}

/* Estilos en Main */
main {
  padding-top: 60px;

}

/* Estilos del footer */

#footer {
  background-color: var(--azul);
  text-align: center;
}

#footer p {
  color: ghostwhite;
  
}

#footer h3 {
  color: ghostwhite;
}