/* Estilos de la landing page */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --azul-profundo: #0D1B2A;
  --azul: #094880;
  --celeste: #A8C5EA;
  --celeste-palido: #E8F1FA;
  --fondo-general: #F8F9FA;
  --gris: #6B7280;
  --blanco: #F5F7FA;
  --rojo: #B71C1C;
  --oro: #D4AF37;

  --fuente-general: 'Inter', serif;
  --fuente-titulos:'Lora', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 55px; 
  scroll-behavior: smooth; 
}

body {
  font-family: var(--fuente-general);
  background-color: var(--fondo-general);
}

h1, h2, h3 {
  font-family: var(--fuente-titulos);
}

/*Estilos para la barra de navegación*/
header {
  background-color: var(--fondo-general);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px black;
  z-index: 10;
}
/* dimensiones del logo: 1966 x 683 */
.logo {
  margin-top: 4px;
  width: 147.45px;
  height: 50.85px;
}

.nav-links > ul {
  display: flex;
  gap: 20px;
  list-style: none;  
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--azul);
}

/* Botón de hamburguesa -oculto en computadoras- */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-toggle span {
  width: 100%;
  height: 3px;
  background-color: #333; /* Color de las rayitas */
  border-radius: 2px;
}

/* Menú responsive */
@media (max-width: 768px) {
  html {
    scroll-padding-top: 260px; 
  }
  /* Mostramos la hamburguesa */
  .menu-toggle {
    display: flex;
  }

  /* Transformamos el menú en un panel desplegable */
  .nav-links {
    display: none; /* Escondido por defecto */
    position: absolute;
    top: 100%; /* Aparece justo abajo del header */
    left: 0;
    width: 100%;
    background-color: var(--gris);
    box-shadow: 0 1px 3px black;
  }

  /* Cuando JavaScript le ponga la clase 'active', se va a mostrar */
  .nav-links.active {
    display: block;
  }

  .nav-links ul {
    flex-direction: column; /* Lista vertical */
    padding: 20px;
    gap: 15px;
  }
}

/* Estilos en Main */
main {
  padding-top: 60px;
}

/* Section Hero */
#section-hero {
  background-color: var(--celeste);
  text-align: center;
  padding: 1em;
}

/* Estilos de la línea de tiempo */
#section-time-line {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  background-color: rgb(7, 6, 6);
  background-position: center;
}

#section-time-line h2 {
  color: var(--gris);
  text-align: center;
  color: var(--rojo);
}

.container-tl-item {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.timeline-item h3 {
  font-weight: 600;
}

.timeline-item p {
  display: inline-block;
  margin-bottom: 0.95em;
}

.left-tl-container {
  left: 0;
}

.right-tl-container {
  left: 50%;
}

.container-tl-item img {
  position: absolute;
  width: 50px;
  border-radius: 50%;
  right: -20px;
  top: 25px; 
  z-index: 5;
}

.right-tl-container img {
  left: -20px;
}

.timeline-item {
  padding: 20px 30px;
  background-color: var(--blanco);
  border-radius: 6px;
  font-size: 0.95em;
}

#section-time-line::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: var(--blanco);
  top: 42px; 
  left: 50%;
  margin-left: -3px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 35px;
  z-index: 1;
  border-top: 0.95em solid transparent;
  border-bottom: 0.95em solid transparent;
  border-left: 0.95em solid var(--blanco);
  right: 2.35em; 
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 35px;
  z-index: 1;
  border-top: 0.95em solid transparent;
  border-bottom: 0.95em solid transparent;
  border-right: 0.95em solid var(--blanco);
  left: 2.35em; 
}
/* Línea de tiempo responsive */
@media screen and (max-width: 768px) {
  #section-time-line {
   margin: 50px auto;
  }

  #section-time-line::after {
   left: 31px;
  }

  .container-tl-item {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .timeline-item {
    font-size: 13px;
  }

  .timeline-item p {
    margin-bottom: 10px;
  }

  .right-tl-container {
    left: 0;
  }

  .left-tl-container img, .right-tl-container img {
    left: 10px;
  }

  .left-container-arrow, .right-container-arrow {
    border-right: 0.95em solid var(--blanco); 
    border-left: 0;
    right: auto; 
    left: calc(80px - 0.95em);
  }
}

/* Estilos del formulario de adhesión */
#section-form {
  width: 100%;
  max-width: 450px;
  margin: 20% auto; 
  background-color: var(--celeste-claro);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); ;
}

#section-form form {
  background-color: var(--celeste);
  border-radius: 4px;
  padding: 20px;
}

#section-form input[type="email"],
#section-form input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 12px 0;
  border: 1px solid #ABCDE1;
  border-radius: 4px;
}

#section-form form button {
  width: 100%;
  padding: 15px;
  border: 1px solid #ABCDE1;
  border-radius: 4px;
  color: var(--blanco);
  font-weight: bold;
  background-color: var(--azul);  
}

#section-form h2 {
  font-size: 2.2rem;
  text-align: center;
}

#parrafo-adhesion {
  margin: 10px;
  text-align: center;
}

#section-form form p {
  color: var(--rojo);
  font-size: 1.35rem; 
  font-weight: bold;
}

/* Estilos del footer */
#footer {
  background-color: var(--azul-profundo);
  text-align: center;
  padding: 30px 15px;
  margin-top: 40px;
}

#footer p {
  color: var(--blanco);
  font-size: 0.9rem;
  margin-top: 10px;  
}

#footer h3 {
  font-size: 1rem;
  color: var(--blanco);
}